*~
*.pyc
*.swp
.exvim*
*.exvim
LIWC_Dutch_dictionary.dic
historic_Dutch_LIWC.dic
*.dic
liwc_output.json
*.csv
*.json
BWNT05_v003.txt
*.txt
!requirements.txt
*.html
Ceneton*
*.xlsx
.ipynb_checkpoints
.recipyrc
.cache
